---- first essai ---------
{% for item in users -%}
    {{ item }}
{% endfor %}
---- 2 nd essai ---------
{% for item in users -%}
    {{ item }}
{%- endfor %}
---- 3 rd essai ---------
{% for item in users %}
    {{ item }}
{%- endfor %}
---
