new trial with
{{ data_value[0] }} gives the result of an_array at offset 0
{{ data_value[1] }} gives the result of an_array at offset 1
{{ data_value[2] }} gives the result of an_array at offset 2
--
{{ data_value_dbl[0] }} gives the result of an_array at offset 0
{{ data_value_dbl[2] }} gives the result of an_array at offset 2
--
{{ data_value_str[2] }} gives the result of an_array at offset 2
{{ data_value_str[1] }} gives the result of an_array at offset 1
{{ data_value_str[0] }} gives the result of an_array at offset 0


