{% if myNiceDouble %}
{% if wrong_ident %}
  --> shoud not display '{{ a_ident }}' 
{% else %}
  --> shoud display '{{ a_ident }}' here
{% endif %}
{% else %}
{% if a_ident %}
  --> shoud not display '{{ a_ident }}' here
{% else %}
  --> shoud not display '{{ a_ident }}' also
{% endif %}
{% endif %}
TITI
