Test of center fonction
1--
'{{ 'data' | center() }}'  
'                                      data                                      '
2--
'{{ '_data' | center(20) }}'  
'       _data        '
3--
'{{ '_data' | center(0) }}'  
'_data'
4--
'{{ '_data' | center(5) }}'  
'_data'
5--
'{{ '_data' | center(6) }}'  
'_data '
6--
'{{ '_data' | center(7) }}'  
' _data '
