Display my {{ "name: %s"|format(name) }} !
Get the 'gre' value {{ "It is %d" | format(gre) }}
Same thing with a double {{ "My double is %f" | format(myNiceDouble) }}
--------
Now with array
value for int is {{ "%d" | format(data_value[offset_array]) }}
value for double is {{ "%f" | format(data_value_dbl[offset_array+1]) }}
value for string is {{ "%s" | format(data_value_str[offset_array-1]) }}
--------
value for double is {{ "%f" | format(data_value_dbl[4-offset_array]) }}
value for string is {{ "%s" | format(data_value_str[1+offset_array-1]) }}
