Test if statement
{% if gre > 100 %}
This text must appear with value {{ myNiceDouble }} 
{% else %}
DSFDSF
{% endif %}
mlcdkmlsfk
{% if users %}
User exists {{ users[0] }}
{% endif %}
{% if do_not_exist %}
Must not exist 
{% else %}
It seems not exist !!
{% endif %}
