TEST with user callback
display {{ @name }}
a value {{ @speed }} and another one {{ @count }}
now array data
{% for i in @array_data_int -%}
int data: {{ i }}
{% endfor %}
{% for i in @array_data_dbl -%}
int data: {{ i }}
{% endfor %}
{% for i in @array_data_string -%}
int data: {{ i }}
{% endfor %}
-- end test --
